/* Layout Geral */
body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
}

header{
    background-color: rgba(9, 166, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 50px;
    color: white; 
}

footer{
    position: fixed;
    background-color: rgba(9, 166, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    bottom: 0px;
}

h1 {
    font-size: 70px;
    width:100%;
    color: white;
    }
    

/* Page Login */
.container-signin{
    background-image: url(../img/33\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poiret One", sans-serif;
}

.sec-login {
    background-color: rgba(9, 166, 163, 1);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 200px;
    padding: 30px;
    font-family: "Poiret One", sans-serif;
    text-align: center;
}

input {
    background-color: rgba(237, 235, 201, 1);
    margin-bottom: 30px;
    padding: 5px;
    width: 300px;
    height: 35px;
    border: none;
    font-family: "Poiret One", sans-serif;
    color: #000000;
    font-size: large;
}

.btn-login{
    cursor: pointer;
    background-color: #000;
    width: 310px;
    height: 40px;
    padding: 0px;
    padding-right: 10px;
    color: white;
    text-align: right;
    font-size: x-large;
}
.btn-login:hover{
    background-color: #ffffff;
    color: #000;
}