/* Layout Geral */
body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: #FCF9D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #09a6a3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-size: 30px;
    color: white; 
    font-family: "Poiret One", sans-serif;
}

.btn-action{
    position: relative;
    background-color: #ffffff;
    border: #09a6a3 solid 1px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: xx-large;
    color: #09a6a3;
    left: 150px;
    top: 18px;
}
.btn-action:hover{
    background-color: #09a6a3;
    color: #ffffff;
}

h1 {
    font-family: "Poiret One", sans-serif;
    font-size: 70px;
    color: white;
    }

.workspace{
    background-color: #ffffff;
    font-family: "Poiret One", sans-serif;
    display: flex;
    align-items: top;
    justify-content: center;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 1000px 0  #09a6a38e;
}
    
footer{
    position: fixed;
    background-color: rgba(9, 166, 163, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    bottom: 0px;
}

/* Page Login */
.container-signin{
    background-image: url(../img/33\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poiret One", sans-serif;
}

.sec-login {
    background-color: rgba(9, 166, 163, 1);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 200px;
    padding: 30px;
    font-family: "Poiret One", sans-serif;
    text-align: center;
}

input {
    background-color: rgba(237, 235, 201, 1);
    margin-bottom: 30px;
    padding: 5px;
    width: 300px;
    height: 35px;
    border: none;
    font-family: "Poiret One", sans-serif;
    color: #000000;
    font-size: large;
}

.btn-login{
    cursor: pointer;
    background-color: #000;
    width: 310px;
    height: 40px;
    padding: 0px;
    padding-right: 10px;
    color: white;
    text-align: right;
    font-size: x-large;
}
.btn-login:hover{
    background-color: #ffffff;
    color: #000;
}